@font-face {
  font-family: 'BB Roller Mono';
  src: url('http://localhost:7999/fonts/BBRollerMono.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 }
@font-face {
  font-family: 'Was A Screenfont';
  src: url('http://localhost:7999/fonts/WasAScreenfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 }
